<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zidongxiangxi.pratice.one.dao.slave.TextSlaveMapper">
    <select id="getById" resultMap="com.zidongxiangxi.pratice.one.dao.master.TextMapper.BaseResultMap">
        SELECT
        <include refid="com.zidongxiangxi.pratice.one.dao.master.TextMapper.Base_Column_List"/>
        FROM text WHERE id = #{id}
    </select>
</mapper>